{% extends 'base/base.html' %}

{% block 'name' %} Dashboard {% endblock %}

{% block 'body' %}
    <div class="container">
{% include 'component/sidenav.html' %}
        </div>
        <div class="col-md-9"  style="padding-left:50px;">
{% include 'component/message.html' %}
            {% for b in device %}
            <h3>{{b.name}}</h3>
            <p>{{b.description | truncatewords:100}}</p>
            <a href="{% url 'edit_post' b.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete_post' b.id %}" class="btn btn-danger">Delete</a>
            <br/>
            {% endfor %}

        </div>
    </div>
{% endblock %}